{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block base_pages %}
    <main class="main">

        <!-- Page Title -->
        <div class="page-title dark-background" data-aos="fade"
             style="background-image: url({% static 'website/img/travel/showcase-8.webp' %});">
            <div class="container position-relative">
                <h1>Blog</h1>
                <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda
                    numquam molestias.</p>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a style="color: whitesmoke" href="{% url 'website:home_page' %}">Home</a></li>
                        <li class="current">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Layout Container -->
        <div class="container blog-layout">
            <div class="row gx-4 gy-4">
                <!-- Left Sidebar -->
                <aside class="sidebar left col-12 col-lg-3 col-xl-2 order-3 order-lg-1">
                    <h5>Last posts</h5>
                    <div class="recent-posts-sidebar">
                        {% for post in last_posts|slice:":3" %}
                            <a href="{% url 'blog:blog_details' post.id %}" class="recent-post-card">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="recent-post-thumb">
                                <div class="recent-post-info">
                                    <h6 class="recent-post-title">{{ post.title|truncatechars:40 }}</h6>
                                    <p class="recent-post-excerpt">{{ post.published_date|naturalday }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </aside>

                <!-- Main Content -->
                <main class="content col-12 col-lg-6 col-xl-8 order-2 order-lg-2">
                    {% for post in posts %}
                        <section class="blog-hero section">
                            <article class="blog-item main-feature">
                                <a href="{% url 'blog:blog_details' post.id %}">
                                    <img src="{{ post.image.url }}" alt="Blog Image" class="img-fluid">
                                </a>
                                <div class="blog-content">
                                    <div class="post-meta">
                                        <span class="date">{{ post.published_date|naturaltime }}</span>
                                        <span class="category">
                                            {% for cat in post.category.all %}
                                                <a style="color: whitesmoke; margin-right: 5px" href="{% url 'blog:blog_home_cat' cat %}">{{ cat.name }}{% if not forloop.last %},{% endif %}</a>
                                            {% endfor %}
                                        </span>
                                    </div>
                                    <span class="bi bi-tags-fill" style="color: #b1b77d">
                                        {% for tag in post.tags.all %}
                                            <a style="color: whitesmoke; margin-right: 5px" href="{% url 'blog:blog_home_tag' tag.name %}">{{ tag.name }}{% if not forloop.last %},{% endif %}</a>
                                        {% endfor %}
                                    </span>
                                    <p class="category-post" style="font-size: 23px">
                                        <a class="category-post" style="color: whitesmoke" href="{% url 'blog:blog_details' post.id %}">{{ post.title }}</a>
                                    </p>
                                    <p class="post-excerpt">
                                        {{ post.context|truncatechars:130 }}
                                        <a style="color: whitesmoke" href="{% url 'blog:blog_details' post.id %}" class="read-more">Read more</a>
                                    </p>
                                </div>
                            </article>
                        </section>
                    {% endfor %}
                </main>

                <!-- Right Sidebar -->
                <aside class="sidebar right col-12 col-lg-3 col-xl-2 order-1 order-lg-3">

                    <!-- Search Box -->
                    <div class="sidebar-box">
                        <h5>Search</h5>
                        <form action="{% url 'blog:blog_home' %}" method="get" class="search-form">
                            <label>
                                <input type="text" name="q" placeholder="Search..." class="form-control">
                            </label>
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>

                    <!-- Category Filter -->
                    <div class="sidebar-box">
                        <h5>Categories</h5>
                        <ul class="category-list">
                            {% for cat in categories %}
                                <li>
                                    <a href="{% url 'blog:blog_home_cat' cat.name %}">{{ cat.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidebar-box">
                        <h5>Tags</h5>
                        <ul class="tags-list">
                            {% for tag in all_tags %}
                                <li>
                                    <a href="{% url 'blog:blog_home_tag' tag.name %}">{{ tag.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Clear filter -->
                    {% if search_query or current_tag or current_category %}
                        <div class="sidebar-box">
                            <a class="clear-filter" href="{% url 'blog:blog_home' %}">
                                <i class="bi bi-x-circle me-2"></i> Clear filter
                            </a>
                        </div>
                    {% endif %}
                </aside>
            </div>
        </div>

        <!-- Pagination -->
        <section id="pagination-2" class="pagination-2 section">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <ul>
                        {% if posts.has_previous %}
                            <li>
                                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ posts.previous_page_number }}">
                                    <i class="bi bi-chevron-left"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% for index in posts.paginator.page_range %}
                            <li>
                                <a {% if posts.number == index %}class="active"{% endif %}
                                   href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ index }}">
                                    {{ index }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if posts.has_next %}
                            <li>
                                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}{% if cat %}cat={{ cat }}&{% endif %}page={{ posts.next_page_number }}">
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>


    </main>
{% endblock %}